<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961241046758-e8pqfvbhne35e8fsap2macgea9q2f3t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961241046758-e8pqfvbhne35e8fsap2macgea9q2f3t3</string>
	<key>API_KEY</key>
	<string>AIzaSyBvYtSlDqAoD4Wzq7wZ5Q4PUJN9UR78cQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>961241046758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseStore</string>
	<key>PROJECT_ID</key>
	<string>flutter-store-test1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-store-test1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961241046758:ios:b4eaec362fc58822d76527</string>
</dict>
</plist>